/*This is all the CSS styling for the quiz app */


img{
    margin: 0 auto;
    padding: 10px;
}
.group{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
@media screen and (min-width: 300px){
    .group1{
        flex-direction: row;
    }
}
.item{
    justify-content: space-evenly;
    align-items: center;
}
#intro{
    font-size: 24px;
    text-emphasis: bold;
}
.incorrect{
    color: red;
}
.correct{
    color: green;
    font-style: bold;
}
h1, h2, h3 {
    text-align: center;
}
h1{
    color: #c82500;
    text-emphasis: bold;
}
h2{
    padding: 0px;
    margin: 10px;
    font-size: 18px;
    color: #c82500;
}
h3{
    margin: 0px;
    padding: 5px;
}
.group p{
    padding: 0px 20px;
    margin: 0px;
}
.question{
    font-size: 20px;
    padding: 0px 10px;
    margin: 5px;
}
body{
    background-image: linear-gradient(rgba(0,200,150,1), rgba(0,200,150,.3), rgba(0,200,150,1) ); 
    margin: 0 auto;
}
.center{
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.cover{
    height: 150px;
    width: 150px;
    object-fit: cover;
    align-self: center;
}
@media screen and (min-width: 300px){
    .cover{
        height: 300px;
        width: 300px;
    }
}
@media screen and (min-width: 800px){
    .cover{
        height:300px;
        width: 500px;
    }
}
header{
    padding: 5px;
    margin: 0px;
}
form{
    padding: 10px;
    margin: 0 auto;
}
form [type=radio]{
    padding: 10px 5px 0px 5px;

}